.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fift: cover;
    
}
hr { 
  border-style: none;
  border-top-style: dotted;
  border-color: gold;
  border-width: 7px;
  width: 10%;
}

.custom {
    list-style-type: "🚗";
}
a {
    collor: grey;
    text-decoration: none;
}


a: hover {
    color: blue
}